.categoriesContainer {
  background-image: url(/backgrounds/FECategorie.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100vh;
}
