.categorieContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.categoryTitle {
  text-align: center;
  padding-top: 80px;
  font-family: rochester;
  font-size: 38px;
}

.historiesCard {
  margin: 25px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #4a6ea569;
  font-size: 14px;
  font-family: openSans;
  border: solid white 2px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historiesCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.historyText h2 {
  text-align: center;
  margin-bottom: 8px;
}

.historyText p {
  text-align: center;
}
