.headerForHome {
  position: fixed;
  z-index: 1;

  .homeLogo {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

.headerForHome p {
  position: fixed;
  top: 65px;
  left: 20px;
  font-size: 12px;
}
