.headerForHome {
  position: fixed;
  z-index: 1;

  .homeLogo {
    height: 100px;
    width: 100px;
    position: fixed;
  }
}

.headerForHome p {
  position: fixed;
  top: 65px;
  left: 30px;
  font-size: 12px;
  color: white;
}
