.logoHome {
  position: fixed;
  z-index: 1;

  .logo {
    height: 120px;
    width: 120px;
    position: fixed;
    left: 3px;
  }
}
.logoHome p {
  position: fixed;
  top: 70px;
  left: 33px;
  font-size: 18px;
}

@media screen and (min-width: 375px) and (max-width: 950px) {
  .logoHome {
    position: fixed;
    .logo {
      height: 100px;
      width: 100px;
      left: 2px;
    }
  }
  .logoHome p {
    top: 60px;
    left: 26px;
    font-size: 16px;
  }
}
