.googleLogo {
  width: 18px;
}
.logOutLogo {
  border-radius: 50px;
}

.logOutContainer,
.logInContainer {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #f5f5e1;
  border-radius: 15px;
  width: 115px;
  padding: 3px;
  border-style: solid;
  border-color: #4a6fa5;
}

.logOutContainer p,
.logInContainer p {
  font-family: OpenSans;
  font-size: 12px;
  color: #2e2e2e;
}

.connexionButton,
.deconnexionButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.logOutContainer:hover,
.logInContainer:hover {
  transform: scale(1.08);
}
