.forBackground img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 375px) and (max-width: 950px) {
  .forBackground img {
    object-fit: cover;
    object-position: 80% center;
  }
}
